bin/
catalog.json
claim.json
certsuite/certsuite.log
.idea
vendor
*.test
redhat-best-practices-for-k8s_junit.xml
cover.out
cover.out.tmp
certsuite/certsuite-tests_junit.xml
certsuite_junit.xml
certsuitetests-junit.xml
setup_junit.xml
validation_junit.xml
.vscode
jsontest-cli
test-out.json
certsuite/results.html
redhat-best-practices-for-k8s
certsuite/claimjson.js

temp/
/certsuite
/all-releases.txt
/latest-release-tag.txt
/release-tag.txt

credentials.json
token.json