bin/
catalog.json
claim.json
tnf-execution.log
cnf-certification-test/tnf-execution.log
cnf-certification-test/cnf-test-log
.idea
vendor
*.test
test-network-function_junit.xml
cover.out
cover.out.tmp
cnf-certification-test/cnf-certification-tests_junit.xml
cnf-certification-tests_junit.xml
cnftests-junit.xml
setup_junit.xml
validation_junit.xml
.vscode
jsontest-cli
test-out.json
cnf-certification-test/results.html
test-network-function
cnf-certification-test/claimjson.js

temp/
/tnf
/all-releases.txt
/latest-release-tag.txt
/release-tag.txt
