name: build

on:
  pull_request:
    types: [ closed ]

permissions:
  contents: read

jobs:
  do-not-merge:
    if: ${{ contains(github.event.*.labels.*.name, 'do not merge') }}
    name: Prevent Merging
    runs-on: ubuntu-24.04
    steps:
      - name: Check for label
        run: |
          echo "Pull request is labeled as 'do not merge'"
          echo "This workflow fails so that the pull request cannot be merged"
          exit 1
  build:
    if: github.event.pull_request.merged == true
    name: Run Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Run Tests
        run: make test
        env:
          SHELL: /bin/bash

  close_job:
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-24.04
    steps:
      - run: |
          echo PR #${{ github.event.number }} has been closed without being merged
