---
name: Preflight
'on':
  schedule:
    - cron: '0 0 * * *'
  # pull_request:
  #   branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  preflight-unstable:
    if: github.repository_owner == 'redhat-best-practices-for-k8s'
    runs-on: ubuntu-24.04
    env:
      SHELL: /bin/bash
      IMAGE_NAME: quay.io/redhat-best-practices-for-k8s/certsuite:unstable

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Disable default go problem matcher
        run: echo "::remove-matcher owner=go::"

      - name: Clone the preflight repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: redhat-openshift-ecosystem/openshift-preflight
          path: openshift-preflight
          ref: 1.14.1

      - name: Run preflight
        working-directory: openshift-preflight
        run: |
          make build
          ./preflight check container ${{ env.IMAGE_NAME }} --artifacts ${GITHUB_WORKSPACE}/openshift-preflight/artifacts

          ALLOWED_FAILURES=("HasLicense" "RunAsNonRoot")
          FAILURES=$(cat ${GITHUB_WORKSPACE}/openshift-preflight/artifacts/amd64/results.json | jq -r '.results.failed[].name')

          for FAILURE in $FAILURES; do
            FAILURE=$(echo $FAILURE | tr -d '"')
            if [[ ! "${ALLOWED_FAILURES[@]}" =~ "${FAILURE}" ]]; then
              echo >&2 "ERROR: $FAILURE is not an allowed failure"
              exit 1
            fi
          done
