---
name: Preflight
'on':
  schedule:
    - cron: '0 0 * * *'
  # pull_request:
  #   branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  preflight-unstable:
    runs-on: ubuntu-22.04
    env:
      SHELL: /bin/bash
      IMAGE_NAME: quay.io/redhat-best-practices-for-k8s/certsuite:unstable

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go 1.23
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version: 1.23.4

      - name: Disable default go problem matcher
        run: echo "::remove-matcher owner=go::"

      - name: Clone the preflight repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: redhat-openshift-ecosystem/openshift-preflight
          path: openshift-preflight
          ref: 1.10.0

      - name: Run preflight
        working-directory: openshift-preflight
        run: |
          make build
          ./preflight check container ${{ env.IMAGE_NAME }} --artifacts ${GITHUB_WORKSPACE}/openshift-preflight/artifacts

          ALLOWED_FAILURES=("HasLicense" "RunAsNonRoot")
          FAILURES=$(cat ${GITHUB_WORKSPACE}/openshift-preflight/artifacts/amd64/results.json | jq -r '.results.failed[].name')

          for FAILURE in $FAILURES; do
            FAILURE=$(echo $FAILURE | tr -d '"')
            if [[ ! "${ALLOWED_FAILURES[@]}" =~ "${FAILURE}" ]]; then
              echo >&2 "ERROR: $FAILURE is not an allowed failure"
              exit 1
            fi
          done
